.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(20, 1, 129, 0.768);
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logos a {
    margin: 0 8px;
    color: #ffffff;
    font-size: 20px;
}

.footer-text {
    margin: 0;
    color: white;
    font-size: 0.8rem;
    text-align: right;
}

/* Media Queries for responsiveness */

/* For smaller screens such as phones */
@media (max-width: 576px) {
    .footer-logos a {
        margin: 5px 0;
        font-size: 16px;
    }
}

/* For medium-sized screens such as tablets */
@media (min-width: 577px) and (max-width: 992px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-logos a {
        margin: 8px 0;
    }
}

/* For larger screens such as laptops */
@media (min-width: 993px) {
    .footer-content {
        flex-direction: row;
    }
}
